<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments/header :: header"></head>
<body>
  <div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <form th:action="@{/items/new}" th:object="${item}" method="post">
      <div class="form-group">
        <label th:for="name">상품명</label>
        <input type="text"
               class="form-control"
               placeholder="상품명을 입력하세요."
               th:field="*{name}">
      </div>
      <div class="form-group">
        <label th:for="price">가격</label>
        <input type="number"
               class="form-control"
               min="1"
               placeholder="가격을 입력하세요."
               th:field="*{price}">
      </div>
      <div class="form-group">
        <label th:for="stockQuantity">수량</label>
        <input type="number"
               class="form-control"
               min="1"
               placeholder="수량을 입력하세요."
               th:field="*{stockQuantity}">
      </div>
      <div class="form-group">
        <label th:for="artist">가수</label>
        <input type="text"
               class="form-control"
               placeholder="가수를 입력하세요."
               th:field="*{artist}">
      </div>
      <div class="form-group">
        <label th:for="etc">ETC</label>
        <input type="text"
               class="form-control"
               placeholder="기타 내용을 입력하세요."
               th:field="*{etc}">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"></div>
  </div>
</body>
</html>